.container {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  display: grid;
  place-items: center;
  .overlay {
    height: 100%;
    width: 100%;
    background: rgba(#000, 0.2);
    backdrop-filter: blur(4px);
  }
  .modal {
    padding: 20px;
    position: absolute;
    top: 100px;
    width: 600px;
    background: #fff;
    border-radius: 8px;
    input {
      display: block;
      width: calc(100% - 16px);
      margin: 8px 0;
      padding: 8px;
    }
    .actions {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      button {
        margin: 0 8px;
      }
    }
  }
}